body{
    background: white;
    margin: 20px;
    padding: 20px;
    .theme{
        background-color: #d4d1d1;
        border: 1px solid #d4d1d1;
        padding: 8px;
        border-radius: 10px;
        margin: 10px;
        color: black;
    }
    .app{
        background: #d4d1d1;
        border-radius: 15px;
        padding: 0px;
        width: 410px;
        height: auto;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
        .calculator{
            flex-direction: column;
            padding: 20px;
            .display{
                background-color: rgb(45, 47, 45);
                padding: 5px;
                height: 150px;
                margin-bottom: 15px;
                border-radius: 10px;
                .input{
                    margin: 0;
                    padding: 10px;
                    width: 320px;
                    height: 40px;
                }
                .output{
                    margin: 0;
                    padding: 10px;
                    width: 320px;
                    height: 40px;
                }
            }
            .keys{
                background-color: #232222;
                border-radius: 10px;
                color: #000;
                padding: 15px;
                .tete{
                    display: flex;
                    .action{
                        margin: 20px;
                        padding: 10px;
                        background-color: red;
                        border-radius: 10px;
                        color: white;
                        &:hover{
                            transform: scale(1.2);
                            box-shadow: 0 4px 8px 0 rgba(238, 73, 13, 0.8), 0 6px 20px 0 rgba(232, 49, 20, 0.7);
                        }
                    }
                    .operator{
                        margin: 20px;
                        padding: 16px;
                        background-color: orangered;
                        border-radius: 10px;
                        color: white;
                        &:hover{
                            transform: scale(1.2);
                            box-shadow: 0 4px 8px 0 rgba(241, 111, 11, 0.8), 0 6px 20px 0 rgba(241, 122, 10, 0.7);
                        }
                    }
                }
                .tronc1{
                    display: flex;
                    .key{
                        margin: 20px;
                        padding: 18px;
                        background-color: #1d0b93;
                        border-radius: 10px;
                        color: white;
                        &:hover{
                            transform: scale(1.2);
                            box-shadow: 0 4px 8px 0 rgba(25, 72, 242, 0.8), 0 6px 20px 0 rgba(58, 66, 210, 0.7);
                        }
                    }
                    .operator{
                        margin: 20px;
                        padding: 16px;
                        background-color: orangered;
                        border-radius: 10px;
                        color: white;
                        &:hover{
                            box-shadow: 0 5px 8px 0 rgba(247, 115, 14, 0.8), 0 7px 20px 0 rgba(223, 126, 22, 0.7);
                            }    
                        }
                }
            }
        }
    }
}